@import "../../assets/styles/variables.scss";

.destination {
    display: flex;
    flex-direction: column;

    &__subtitle {
        text-align: center;
        font-family: $barlow-condensed-font;
        padding: 1rem;
        font-size: 16px;
        color: white;
        font-weight: 400;
        margin-bottom: 1rem;
        letter-spacing: 2.7px;

        span {
            opacity: 25%;
            font-weight: 700;
            margin-right: 0.3rem;
        }
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        width: 170px;
        height: 170px;
        margin-bottom: 1.5rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0.5rem;
        max-width: 445px;
    }

    &__nav {
        &__list {
            display: flex;
            justify-content: center;
            gap: 1.2rem;
            list-style: none;
            font-family: $barlow-condensed-font;
            margin-bottom: 1.2rem;
            cursor: pointer;

            &--item {
                font-size: 14px;
                color: $periwinkle;
                text-decoration: none;
                letter-spacing: 2.36px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .destination {
        &__subtitle {
            padding: 3rem 1rem 2.5rem 1rem;
            text-align: left;
            margin-left: 38.5px;
            margin-bottom: 1.5rem;
            letter-spacing: 3.38px;
            font-size: 20px;
        }

        &__image {
            width: 300px;
            height: 300px;
            margin-bottom: 3rem;
        }

        &__nav {
            &__list {
                gap: 2rem;
                ;
                margin-bottom: 1.7rem;

                &--item {
                    font-size: 16px;
                    letter-spacing: 2.7px;
                }
            }
        }
    }
}

@media screen and (min-width: 1100px) {
    .destination {
        &__subtitle {
            margin-left: 167px;
            letter-spacing: 4.725px;
            font-size: 28px;
        }

        &__content-container {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            align-self: center;
            gap: 5rem;

        }

        &__image {
            width: auto;
            height: auto;
            margin-bottom: 3;
        }

        &__content {
            text-align: left;
            align-items: flex-start;
            gap: 0.5rem;
        }
    }
}



.active-destination {
    color: white;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -12px;
        background-color: white;
    }
}