@import "../../assets/styles/variables.scss";

.destination {
    display: flex;
    flex-direction: column;

    &__subtitle {
        text-align: center;
        font-family: $barlow-condensed-font;
        padding: 1rem;
        color: white;
        font-weight: 400;
        margin-bottom: 1rem;

        span {
            opacity: 25%;
            font-weight: 700;
            margin-right: 0.5rem;
        }
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        width: 170px;
        height: 170px;
        margin-bottom: 1.5rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0.5rem;
    }

    &__nav {
        &__list {
            display: flex;
            justify-content: center;
            gap: 1rem;
            list-style: none;
            font-family: $barlow-condensed-font;
            font-size: 14px;
            margin-bottom: 1.2rem;
            cursor: pointer;

            &--item {
                color: $periwinkle;
                text-decoration: none;
                letter-spacing: 2.36px;
            }
        }
    }
}

.active-destination {
    color: white;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -10px;
        background-color: white;
    }
}
