@import "../../assets/styles/variables.scss";

.technology {
  display: flex;
  flex-direction: column;

  &__subtitle {
    text-align: center;
    font-family: $barlow-condensed-font;
    padding: 1rem;
    font-size: 16px;
    color: white;
    font-weight: 400;
    margin-bottom: 1rem;
    letter-spacing: 2.7px;
    gap: 20px;

    span {
      opacity: 25%;
      font-weight: 700;
      margin-right: 0.7rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin-bottom: 2rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 1rem;


    button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.25);
      color: white;
      font-size: 16px;
      cursor: pointer;
      font-weight: 400;
      transition: background-color 0.3s, color 0.3s;
      font-family: $bellefair-font;

      &:hover {
        background-color: white;
        color: black;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .technology {
    display: flex;
    flex-direction: column;

    &__subtitle {
      display: flex;
      font-family: $barlow-condensed-font;
      padding: 1rem 38.5px;
      font-size: 20px;
      color: white;
      font-weight: 400;
      margin-bottom: 1.7rem;
      letter-spacing: 3.375px;

      span {
        opacity: 25%;
        font-weight: 700;
        margin-right: 0rem;
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__image {
      width: 100vw;
      height: 250px;
      margin-bottom: 3rem;
    }

    &__info {
      display: flex;
      align-items: center;
    }

    &__buttons {
      gap: 16px;
      margin-bottom: 1.5rem;

      button {
        width: 60px;
        height: 60px;
        font-size: 24px;

        &:hover {
          background-color: white;
          color: black;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .technology {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__subtitle {
      display: flex;
      text-align: center;
      padding: 1rem;
      font-size: 28px;
      margin: 3rem 0 0 13vw;
      letter-spacing: 4.725px;

      span {
        margin-right: 0.3rem;
      }
    }

    &__container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 30px;
      gap: 40px;
      padding-left:4rem;
    }

    &__info {
      display: flex;
      align-items: start;
      flex-direction: row;
      gap: 70px;
    }

    &__image {
      display: none;
    }

    .hidden {
      display: block;
      width: 100%;
      height: 527px;
      object-fit: cover;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0px;
      margin-bottom: 0;
      gap: 32px;

      button {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.25);
        color: white;
        font-size: 32px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        font-family: $bellefair-font;

        &:hover {
          background-color: white;
          color: black;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1260px) {
  .technology {
    .hidden {
      width: 515px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .technology {

    &__subtitle {
      margin: 3rem 0 0 15vw;
    }
  }
}

@media screen and (min-width: 1640px) {
  .technology {

    &__subtitle {
      margin: 3rem 0 0 27vw;
    }
  }
}
.hidden {
  display: none;
}

.technology .technology__buttons .active-technology {
  color: black;
  background-color: white;
  border: none;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}