@import "../../assets/styles/variables.scss";

.technology-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__subtitle {
    font-size: 16px;
    font-family: $barlow-font;
    color: white;
    font-weight: 200;
    margin-bottom: 0.5rem;
  }
  &__title {
    font-size: 30px;
    font-family: $barlow-font;
    color: white;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  &__description {
    padding: 0 1.5rem;
    color: $periwinkle;
    font-family: $barlow-font;
    font-weight: 400;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .technology-info {
    display: flex;
    align-items: center;
    &__subtitle {
      font-size: 16px;
      font-family: $barlow-font;
      color: white;
      font-weight: 200;
      margin-bottom: 0.5rem;
    }
    &__title {
      font-size: 30px;
      font-family: $barlow-font;
      color: white;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
    &__description {
      padding: 0 1.5rem;
      color: $periwinkle;
      font-family: $barlow-font;
      font-weight: 400;
      text-align: center;
      margin-bottom: 30px;
      width: 450px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .technology-info {
    display: flex;
    align-items: flex-start;
    &__subtitle {
      font-size: 16px;
      font-family: $barlow-font;
      color: white;
      font-weight: 200;
      margin-bottom: 0.5rem;
    }
    &__title {
      font-size: 30px;
      font-family: $barlow-font;
      color: white;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
    &__description {
      display: flex;
      align-items: flex-start;
      color: $periwinkle;
      font-family: $barlow-font;
      font-weight: 400;
      margin-bottom: 0.5rem;
      text-align: start;
      margin: 0;
      padding: 0;
    }
  }
}
