@import '../../assets/styles/reset.scss';
@import '../../assets/styles/variables.scss';

.home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $periwinkle;
    gap: 5px;
    padding: 10px 0;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 276px;
        height: 327px;

        h1 {
            font-size: 80px;
            font-weight: 300;
        }
    }

    &__figure {
        display: flex;
        width: 150px;
        height: 150px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (min-width: 768px) {
    .home {
        padding: 70px 0;
        gap: 50px;

        &__container {
            width: 382px;
            height: 450px;

            h1 {
                font-size: 100px;
                font-weight: 300;
            }

            span {
                font-size: 25px;
                font-weight: 200;
                align-items: flex-start;
            }
        }

        &__figure {
            display: flex;
            width: 274px;
            height: 274px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 1100px){
    .home {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 370px 0 0 0;
        gap: 50px;

        &__container {
            width: 450px;
            height: 334px;
            text-align: start;
            justify-content: center;

            h1 {
                font-size: 130px;
            }

        }

        &__figure {
            display: flex;
            width: 242px;
            height: 242px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}