@import "../../assets/styles/variables.scss";

.destination {
    &__title {
        font-size: 56px;
        font-family: $bellefair-font;
        color: white;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    &__description {
        padding: 0 1rem;
        color: $periwinkle;
        font-family: $barlow-font;
        font-weight: 400;
        line-height: 25px;
        padding-bottom: 2rem
    }

    &__separate-line {
        border: 1px solid #383B4B;
        margin: 0 1rem;
    }
}