@import "../../assets/styles/variables.scss";

.destination {
    &__title {
        font-size: 56px;
        font-family: $bellefair-font;
        color: white;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    &__description {
        padding: 0 1.5rem;
        color: $periwinkle;
        font-family: $barlow-font;
        font-weight: 400;
        line-height: 25px;
        padding-bottom: 2rem
    }

    &__separate-line {
        border: 1px solid #383B4B;
        margin: 0 1.5rem 1.5rem 1.5rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        margin-bottom: 4rem;
    }

    &__distance,
    &__travel {
        &--title {
            font-size: 14px;
            font-family: $barlow-condensed-font;
            letter-spacing: 2.36px;
            font-weight: 400;
            color: $periwinkle;
            margin-bottom: 0.5rem;
        }

        &--text {
            font-size: 28px;
            color: white;
            font-family: $bellefair-font;
        }
    }
}

@media screen and (min-width: 768px) {
    .destination {
        &__title {
            font-size: 80px;
        }

        &__description {
            padding: 0 6.063rem;
            line-height: 28px;
            padding-bottom: 2rem
        }

        &__separate-line {
            margin: 0 6.063rem 2rem 6.063rem;
        }

        &__info {
            flex-direction: row;
            justify-content: center;
            gap: 3rem;
        }

        &__distance,
        &__travel {
            &--title {
                margin-bottom: 0.7rem;
            }
        }
    }
}


@media screen and (min-width: 1100px) {
    .destination {
        &__info-container {
            max-width: 445px;
        }

        &__title {
            font-size: 100px;
        }

        &__description {
            padding: 0rem;
            text-align: justify;
            font-size: 18px;
        }

        &__separate-line {
            margin: 54px 0rem 28px 0rem;
        }

        &__info {
            justify-content: flex-start;
            gap: 3rem;
        }

        &__distance,
        &__travel {
            &--title {
                margin-bottom: 0.7rem;
            }
        }
    }
}