@import '../../assets/styles/variables.scss';

.crew-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__subtitle{
        font-family: $bellefair-font;
        color: white;
        font-weight: 400;
        opacity: 0.4951259195804596;
    }

    &__title{
        font-family: $bellefair-font;
        color: white;
        font-weight: 400;
        font-size: 25px;
    }

    &__description{
        font-family: $barlow-font;
        color: $periwinkle;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .crew-info{

        &__subtitle{
            font-size: 24px;
        }

        &__title{
            font-size: 40px;
        }
        &__description{
            margin-bottom: 40px;
            line-height: 28px;
            width: 100%;
            max-width: 592px;
        }
    }
}
@media screen and (min-width: 1100px){
    .crew-info{
        align-items: flex-start;

        &__subtitle{
            font-size: 32px;
        }

        &__title{
            font-size: 56px;
        }

        &__description{
            font-size: 18px;
            text-align: start;
            font-size: large;
            line-height: 32px;
            max-width: 444px;
            width: 444px;
            height: 160px;
        }
    }
}