@import "/src/assets/styles/variables.scss";

.header {
  width: 375px;
  height: 710px;
  background-color: black;
  padding: 20px;
  &__up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
