@import "/src/assets/styles/variables.scss";

.header {
  height: max-content;
  padding: 20px;
  &__up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo img {
      width: 40px;
      height: 40px;
    }
    .hamburger {
      .close {
        width: 24px;
        position: relative;
        z-index: 2;
        z-index: 200;
      }
      .menu {
        width: 24px;
      }
    }
  }


}
