@import "../../assets/styles/reset.scss";

.destination {
    background-color: red;
}

.home {

    background-color: blue;
}

.crew {
    background-color: black;
}

.technology  {
    background-color:chartreuse;
}