@import "../../assets/styles/reset.scss";

.layout {
    min-height: 100vh;
    max-height: 100%;
}

.destination {
    background-image: url("/images/destination/background-destination-mobile.jpg");
}

.home {

    background-color: blue;
}

.crew {
    background-color: black;
}

.technology  {
    background-color:chartreuse;
}