@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500&family=Bellefair&display=swap');

$rich-black: #0B0D17;
$periwinkle: #D0D6F9;
$bellefair-font: 'Bellefair', serif;
$barlow-condensed-font: 'Barlow Condensed', sans-serif;