@import "/src/assets/styles/variables.scss";

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 70%;
  position: absolute;
  top: 0px;
  right: 0;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  z-index: 100;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    gap: 32px;
  }

  &__item {
    text-align: right;

    &--nav-link {
      text-decoration: none;
      color: #ffff;
      padding: 0px 32px;
      border-radius: 4px;
      position: relative;
      font-family: $barlow-condensed-font;
      font-weight: 400;

      span {
        font-weight: 700;
        margin-right: 10px;
      }

      &:hover {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0px;
          width: 2px;
          height: 50%;
          background-color: #ffffff;
          /* Color de la raya blanca */
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .nav {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .nav {
    width: 40%;
  }
}